:root{
    /* font-family */
    --font-plus:"Plus Jakarta Sans", sans-serif;
    /* font-size */
    --text-sm:14px;
    --lh-20px:20.16px;
    --lh-57px:57.6px;
    --lh-33px:33.6px;
    --lh-24px:24px;
    --lh-43px:43.2px;
    --text-lg:48px;
    --opacity-70:70%;
}
.font-plus{
    font-family: var(--font-plus);
}
.text-sm{
    font-size: var(--text-sm) !important;
}


.lh-33px{
    line-height: var(--lh-33px);
}
.lh-20px{
    line-height: var(--lh-20px);
}
.lh-24px{
    line-height: var(--lh-24px);
}
.lh-43px{
    line-height: var(--lh-43px);
}
.lh-57px{
    line-height: var(--lh-57px);
}
.opacity-70{
    opacity: var(--opacity-70);
}
.text-lg{
    font-size: var(--text-lg);
}