@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url(./root.css);

.heading-w {
    max-width: 588px;
}

.bg {
    background-image: url(../img/header-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 810px;
}

.li-hover:hover {
    color: var(--red) !important;
    text-decoration: underline !important;
}

.hr-line {
    border: 1px solid var(--color-black);
    width: 87px;
}

.hr-l {
    border: 1px solid var(--color-black);
    width: 143px;
}

.btn-1 {
    border: 1px solid;
    padding: 20px 40px;
}

.btn-1:hover {
    background: var(--color-grey) !important;
    color: var(--color-white);
}

.bongo-w {
    max-width: 485px;
    z-index: 5;
}

.bongo-b {
    border: 1px solid #090808;
    max-width: 485px;
    height: 467px;
    top: 4%;
    left: 3%;
}

.bg-img:hover {
    opacity: var(--opacity-80);
}

.bg-img {
    background-image: url(../img/project.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 162px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.d-img{
    display:none;
}
.text {
    left: 6%;
}

.text-2 {
    right: 10%;
}

.text-line {
    right: 20%;
}

.crd {
    max-width: 364px;
    transition: all .5s ease-in-out;
}

.crd:hover {
    opacity: 75%;
    box-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.19%, rgba(0, 0, 0, 0.5) 100%);
    transform: translateY(-10px);
}

.work {
    bottom: 10px;
    left: 20px;
}
.logo-crd {
    width: 267px;
    height: 267px;
    border: 1px solid #0000004D;
    transition: transform 0.5s;
}

.logo-crd:hover {
    border: 1px solid lightgray;
    background: lightgray !important;
    transform: scale(1.05);
}

.top {
    top: 30%;
}

.top-2 {
    top: 33%;
}

.right {
    right: 0;
}

.color-white {
    color: white !important;
}

.h-162 {
    height: 162px;
}

.h-58 {
    height: 58px;
}

.circle {
    top: 20px;
    right: 20px;
}

.mt-60 {
    margin-top: 45%;
    padding: 20px;
}

.chng:hover {
    color: var(--red) !important;
    text-decoration: underline;
}

.logo-box {
    width: 40px;
    height: 40px;
    padding: 10.67px 10.06px 9.33px 10.67px;
    border: 1px solid #FFFFFF4D;
}

.footer-hr {
    border: 1px solid #FFFFFF4D;
}

@media (max-width:767.98px) {
    .links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0px;
        right: -100%;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(50px);
        transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav-option {
        flex-direction: column;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;
        z-index: 1;
    }

    input:checked~.links {
        right: 0%;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

    .flex-direction-column {
        flex-direction: column;
    }

    .startup {
        top: 50%;
        right: 20px;
        transform: translate(-50%, -50%);

    }
}